.dataTables_filter{
  right: 25px;
  position: fixed;
  margin-top:-25px;
}

.dataTables_length{
  position: fixed;
  margin-top:-25px;
}

.dataTables_info{
  position: fixed;
  margin-top: 25px;
}

.dataTables_paginate{
  position: fixed;
  right: 25px;
  margin-top: 25px;
}

